# Emacs backups
*~
#Emacs -auto save files
\#*\# 
#Emacs lock files
.\#* 
TAGS
*.zip
*.sig
*.tgz
*.pdf
*.tex
*.gz
*.xz
README.html
doc/gh-page.html
helper/emacs-24.5
helper/hide-region+.el
helper/hide-region.el
helper/htmlize.el
helper/share
gh-page